In [1]:
import re
import os
import json

from pathlib import Path
from datetime import date, datetime, timedelta


import numpy as np
import pandas as pd


import ast

In [2]:
df_start = pd.read_csv('datasets/books_with_genre.csv')
df_start.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,genre
0,792,london city guide lonely planet city guide,"['lonely planet', 'sarah johnstone', 'tom mast...",4.03,1740598318,9781740598316,eng,466,38,5,['travel']
1,797,lonely planet londres,"['lonely planet', 'sarah johnstone', 'tom mast...",4.03,8408064762,9788408064763,spa,480,0,0,['travel']
2,815,three nights august strategy heartbreak joy in...,['bissinger'],3.87,0618710531,9780618710539,eng,287,6560,235,['sports recreation']
3,828,interface,"['neal stephenson', 'george jewsbury', 'stephe...",3.67,0553383434,9780553383430,eng,640,4572,259,['fiction']
4,830,snow crash,['neal stephenson'],4.03,0553380958,9780553380958,eng,438,187493,6601,['fiction']

In [3]:
pattern = re.compile(r'\s+')

def clean_list_text(list_string):
    try:
        list_of_author = ast.literal_eval(list_string)
        rem_space_list = [re.sub(pattern, '', value) for value in list_of_author]
        return " ".join(rem_space_list)
    except:
        return ""

In [29]:
def brief_genre(list_genre):
    try:
        list_of_genre = ast.literal_eval(list_genre)
        all_genre = " ".join(list_of_genre)
        split_genre = list(set(all_genre.split()))
        
        return " ".join(split_genre)
    except:
        return ""

In [4]:
# joined_aut = 
# df_start['authors'].apply(clean_list_text)
df_start['author_info'] = df_start['authors'].apply(clean_list_text)

In [10]:
df_start['language'] = df_start['language_code'].apply(lambda x: "other" if x in ['mul', 'en-CA', 'fre',
       'por', 'zho', 'ger', 'lat', 'rus', 'grc'] else x.lower())

In [12]:
df_start['language'].value_counts()

eng      1518
en-us     258
en-gb      51
spa        42
other      29
jpn        10
Name: language, dtype: int64

In [30]:
df_start['type'] = df_start['genre'].apply(brief_genre)

In [31]:
df_start.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count,genre,author_info,language,type
0,792,london city guide lonely planet city guide,"['lonely planet', 'sarah johnstone', 'tom mast...",4.03,1740598318,9781740598316,eng,466,38,5,['travel'],lonelyplanet sarahjohnstone tommasters,eng,travel
1,797,lonely planet londres,"['lonely planet', 'sarah johnstone', 'tom mast...",4.03,8408064762,9788408064763,spa,480,0,0,['travel'],lonelyplanet sarahjohnstone tommasters,spa,travel
2,815,three nights august strategy heartbreak joy in...,['bissinger'],3.87,0618710531,9780618710539,eng,287,6560,235,['sports recreation'],bissinger,eng,sports recreation
3,828,interface,"['neal stephenson', 'george jewsbury', 'stephe...",3.67,0553383434,9780553383430,eng,640,4572,259,['fiction'],nealstephenson georgejewsbury stephenbury,eng,fiction
4,830,snow crash,['neal stephenson'],4.03,0553380958,9780553380958,eng,438,187493,6601,['fiction'],nealstephenson,eng,fiction

In [32]:
df_start['type'].value_counts()

fiction                    709
fiction juvenile           123
autobiography biography     96
history                     68
drama                       48
                          ...
gangs                        1
alexandria egypt             1
antisemitism                 1
mental health                1
childbirth                   1
Name: type, Length: 344, dtype: int64